.SplideSlide {
  background-color: #fefffe;
}

#new-workout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workout-date-card {
  border: solid #dadada 1px;
  height: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.new-workout-card {
  width: 400px;
  height: 500px;
}

.new-workout-card .new-workout-card-name-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-workout-card .next-workout-card-kg-rep {
  margin: 0;
}

.new-workout-card .next-workout-card-kg-rep .kg-rep-divider {
  margin-bottom: 0;
  padding: 0;
  height: 45px;
}

.new-workout-card p {
  padding: 40px 0;
}

.new-workout-card Select {
  margin-top: 10px;
  width: 50%;
}

.wide-button {
  width: 400px;
}

.short-input {
  width: 60px;
  height: 50px;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
}

#category-selector-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#category-selector-div .category-card-selected {
  height: 160px;
  width: 25%;
  background-color: #fefffe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category-selector-div .category-card-selected img {
  height: 50%;
}

#category-selector-div .category-card-unselected {
  height: 160px;
  width: 25%;
  background-color: #f6f6f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category-selector-div .category-card-unselected img {
  height: 50%;
}

#next-workout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#next-workout-container .next-workout-card-selected {
  margin: 10px;
  height: 400px;
  width: 20%;
  min-width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-workout-container .next-workout-card-selected .next-workout-card-left {
  background-color: #e28743;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

#next-workout-container .next-workout-card {
  margin: 10px;
  height: 300px;
  width: 20%;
  min-width: 100px;
  background-color: #fefffe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-workout-container .next-workout-card-left {
  background-color: #f6f6f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

#next-workout-container .next-workout-card-right {
  background-color: #fefffe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#next-workout-container .next-workout-card-right .kg-selector {
  width: 30px;
}

#next-workout-container .next-workout-card-right .rep-selector {
  width: 20px;
  margin-left: 10px;
}

#next-workout-container div {
  height: 100%;
  width: 100%;
}

#next-workout-container img {
  height: 50%;
}
/*# sourceMappingURL=Home.css.map */