$white-background: #fefffe;
$light-grey: #f6f6f7;

.SplideSlide{
	background-color: #fefffe;
}

#new-workout-container{
	display: flex;
	flex-direction: column;
	align-items: center;


}

.new-workout-card{
	width: 400px;
	height: 500px;
	.new-workout-card-name-description{
		display: flex;
		flex-direction: column;
	}

	.next-workout-card-kg-rep{
		margin: 0;

		.kg-rep-divider{
			margin-bottom: 0;
			padding: 0;
			height: 45px;
		}
	}
	p{
		padding: 40px 0;
	}
	Select{
		margin-top: 10px;
		width: 50%;
	}
}

.wide-button{
	width: 400px;
}

.short-input{
	width: 60px;
	height: 50px;
	margin-top: 2rem;
	border-radius: 5px;
	padding: 0.5rem;
}

#category-selector-div{
	display: flex;
	flex-direction: row;

	.category-card-selected{
		height: 160px;
		width: 25%;
		background-color: $white-background;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		img{
			height: 50%;
		}
	}
	.category-card-unselected{
		height: 160px;
		width: 25%;
		background-color: $light-grey;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		img{
			height: 50%;
		}
	}
}

#next-workout-container{
	display: flex;
	flex-direction: row;

	.next-workout-card-selected{
		margin: 10px;
		height: 400px;
		width: 20%;
		min-width: 100px;
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;

		.next-workout-card-left{
			background-color: #e28743;
			justify-content: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 50%;
			height: 100%;
	
		}
	}


	.next-workout-card{
		margin: 10px;
		height: 300px;
		width: 20%;
		min-width: 100px;
		background-color: $white-background;
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
		.next-workout-card-left{
			background-color: $light-grey;
			justify-content: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 50%;
			height: 100%;
		}

		.next-workout-card-right{
			background-color: $white-background;
			justify-content: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 100%;

			.kg-selector{
				width: 30px;
			}
			.rep-selector{
				width: 20px;
				margin-left: 10px;
			}
		}

		div{
			height: 100%;
			width: 100%;
		}

		img{
			height: 50%;
		}
}