$white-background: #fefffe;
$light-grey: #f6f6f7;
$purple: #9d23b352;

$chest-color: #4be988;
$tricep-color: #fdd462;
$back-color: #00f8f8;
$biceps-color: #9bc7c2;
$legs-color: #2e21a1;
$lower-back: #f098a0;
$forearm-color: #c5b49f;
$shoulder-color: #e26868;
$abs-color: #ffd6a5;
$cardio-color: #ffa621;
$other-color: #d3d3d3;

.your-workout-card{
	margin: 0 10px;
	padding: 5px;
	height: 280px;
	min-width: 200px;
	max-width: 200px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;



	.title-container{
		max-height: 120px;
		min-height: 120px;
		h2{
			font-size: 19px;
			color: $light-grey;
			border-bottom: solid white 1px;
		}
		p{
			font-size: 18px;
			font-weight: 800;
			color: $light-grey;
		}
	}
	.description-container{
		max-height: 100px;
		min-height: 100px;
		p{
			font-size: 14px;
			color: $light-grey;
		}
	}
	.notes-container{
		max-height: 50px;
		min-height: 50px;
	}
	&:hover{
		animation-duration: 0.2s;
		animation-name: slidein;
		animation-fill-mode: forwards;
	}
}

.droppable-container{
	display: flex;
	width: 99%;
	margin: 0;
	padding: 0;
	align-items: center;
	overflow-y: hidden;
}

.Chest{
	background-color: $chest-color;
}
.Tricep{
	background-color: $tricep-color;
}
.Back{
	background-color: $back-color;
}
.Bicep{
	background-color: $biceps-color;
}
.Legs{
	background-color: $legs-color;
}
.Shoulder{
	background-color: $shoulder-color;
}
.Biceps{
	background-color: $biceps-color;
}
.Cardio{
	background-color: $cardio-color;
}
.Abs{
	background-color: $abs-color;
}
.Lower-back{
	background-color: $lower-back;
}
.Leg{
	background-color: $legs-color;
}
.Forearm{
	background-color: $forearm-color;
}
.Other{
	background-color: $other-color;
}

@keyframes slidein {
	from {
		
	}
  
	to {
		background: #753BBD;
		transform: scale(1.02);
	}
  }